<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= termName %></title>
</head>
<body>
    <h1><%= user.userName %></h1>
    <h2><%= termName %></h2>
</body>
</html>