h1{
    color: #FFFFFF;
}
.completed{
    font-weight: bold;
    color: #2FA69A;

}
.not{
    text-decoration: underline;
}

/* grid */
.termItem{
    display: flex;
    align-items: center;
}
.create{
    margin-left: 20px;
}

/* style */
.main-header{
    background-color: #2FA69A;
    height: 355px;
}
.main-user{
    color: white;
    height: 355px;
    padding-top: 70px;
}
h1{
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 8px;
}
h3{
    font-size: 20px;
    margin-top: 0;
}
h5{
    font-size: 18px;
}
.create{
    color: #2FA69A;
}
.create:hover,
.create:active{
    cursor: pointer;
    color: #11887C;
}
.del{
    color: #9e9e9e;
}
.del:hover,
.del:active{
    cursor: pointer;
    color: #da4c4c;
}

